body {
    font-family: "Trebuchet MS";
    background-color: #3B3B5A;
}

.gameboard {
    background-image: url("gameboard.gif");
    width: 1000px;
    height: 600px;
    position: fixed;
    z-index: -1;
}

#title {
    position: fixed;
    width: 250px;
    height: 600px;
    left: 1020px;
    font-weight: 700;
    text-align: left;
}

.headers {
    color: #EFEFFF;
    position: absolute;
}

#player {
    position: absolute;
    width: 50px;
    height: 75px;
    left: 450px;
    top: 520px;
}

.students {
    position: absolute;
    width: 50px;
    height: 75px;
}